<!--form handling-->
<form action ="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">기업 이름</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Mark Stoenis">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">기업 이메일</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="address" class="text-light">기업 주소</label>
            <input type="text" name="address" value="" placeholder="인천광역시 연수구">
        </div>
        <div class="form-group">
            <div>
            <label for="product" class="text-light">사용 모델</label>
            </div>
            <div class="radio inline">
            <input type="radio" id="radio-4" name="product" value="텀블링">
            <label for="radio-4" class="radio-label">텀블링</label>
            </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn text-dark update" style="color:white ;">Save</button>
        </div>
    </div>
</form>